<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/data/neo4j http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd">

    <import resource="classpath:springmvc.xml"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.mo9.neo4j"/>
    <context:component-scan base-package="org.neo4j.ogm"/>
    <context:property-placeholder location="classpath*:config.properties"/>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

    <context:property-placeholder location="classpath*:com/mo9/commonutil/context/risk.properties"/>

</beans>